fastapi
uvicorn
sqlalchemy
aiosqlite
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
email-validator
httpx
twilio
numpy
pandas
scikit-learn
joblib
rasterio
pyproj

requests
